<html>
<head>
<title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>

 <script src="devjam.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
<body>
    <div class="loginbox">
    <img src="avatar.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="forgotPasswword.html">Lost your password?</a><br>
            <a href="signUpform.html">Don't have an account?</a>
        </form>
        
    </div>

</body>
</head>
</html>