
body{

    margin: 0;
    padding: 0;
    background-image: url(signUp.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px;    
} 
.register
{
    
        background-color: #7E8F96;
        width: 500px;
        margin: 0px 0px 0px 450px;
        color: white;
        font-size: 18px;
        padding: 20px;
        border-radius: 10px;
}
#register{
    margin-left: 100px;
}
label{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
}
#name{
    width: 300px;
    border: none;
    border-radius: 3px;
    outline: 0px;
    padding: 7px;
}
#ph{
    width: 65px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#num{
    width: 230px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    outline: 0;
}
#sub{
    width: 200px;
    padding: 7px;
    font-size: 12px;
    font-family: sans-serif;
    font-style: normal;
    border: none;
    border-radius: 3px;
    outline: 0;
}